.header__info{
    display: flex;
    flex-direction: row;
}

@media (max-width: 425px) {
    .header__info{
        display: flex;
        margin-left: 5px;
        flex-direction: column;
        justify-content: space-between;
    }
}